@use '~/index.scss' as *;
@use 'sass:color';

.container {
    padding: 16px;
}

.control {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.dialogTrigger {
    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
}

.plusIcon {
    font-weight: 1000;
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: $primary-color;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 12px;
    margin-top: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 350px;
}

.listHeader {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 14px;
    padding-block: 6px;
    cursor: pointer;

    &:hover {
        background-color: $primary-background-color-hover;
    }
}

.expandIcon {
    display: inline-block;
    margin-left: 4px;
    font-size: 16px;
    transition: transform 0.3s ease;

    &[data-expanded] {
        transform: rotate(180deg);
    }
}

.list {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;

    &[data-collapsed-transform] {
        transform: translateY(-50%) scaleY(0);
        pointer-events: none;
        visibility: hidden;
    }
}

.column:nth-child(odd) .item {
    &:nth-child(odd) {
        background-color: $item-color;
    }

    &:nth-child(even) {
        background-color: $item-alt-color;
    }
}

.column:nth-child(even) .item {
    &:nth-child(odd) {
        background-color: $item-alt-color;
    }

    &:nth-child(even) {
        background-color: $item-color;
    }
}

.item {
    padding: 8px;
    border: solid 1px $light-border-color;
    border-radius: 16px;
    box-sizing: border-box;
    height: 134px;
    flex-shrink: 0;
    overflow: auto;

    &:hover {
        background-color: $item-hover-color !important;
    }

    transition: all 0.3s ease;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.name {
    font-size: 16px;
}

.itemButtons {
    display: flex;
    gap: 8px;
}

.itemButton {
    border: none;
    background-color: transparent;
    color: $primary-color;
    padding: 0;
    width: 28px;
    height: 28px;
    font-size: 16px;

    &:hover {
        background-color: transparent;
        color: $primary-color-hover;
    }
}

.trashButton {
    color: $trash-color;

    &:hover {
        color: $trash-color-hover;
    }
}

.description {
    display: flex;
    font-size: 14px;
    position: relative;
}

.macros {
    display: flex;
    flex-direction: column;
}

.date {
    position: absolute;
    right: 0;
    width: 90px;
    align-self: flex-end;
}